<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Admindashboardservlet</display-name>
    <servlet-name>Admindashboardservlet</servlet-name>
    <servlet-class>bank.Admindashboardservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admindashboardservlet</servlet-name>
    <url-pattern>/Admindashboardservlet</url-pattern>
  </servlet-mapping>
  <display-name>BA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>bank.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>closeaccountservlet</display-name>
    <servlet-name>closeaccountservlet</servlet-name>
    <servlet-class>bank.closeaccountservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>closeaccountservlet</servlet-name>
    <url-pattern>/closeaccountservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customer_loginservlet</display-name>
    <servlet-name>customer_loginservlet</servlet-name>
    <servlet-class>bank.customer_loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer_loginservlet</servlet-name>
    <url-pattern>/customer_loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerdashboardservlet</display-name>
    <servlet-name>customerdashboardservlet</servlet-name>
    <servlet-class>bank.customerdashboardservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerdashboardservlet</servlet-name>
    <url-pattern>/customerdashboardservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customerregistrationservlet</display-name>
    <servlet-name>customerregistrationservlet</servlet-name>
    <servlet-class>bank.customerregistrationservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerregistrationservlet</servlet-name>
    <url-pattern>/customerregistrationservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteservlet</display-name>
    <servlet-name>deleteservlet</servlet-name>
    <servlet-class>bank.deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteservlet</servlet-name>
    <url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>depositservlet</display-name>
    <servlet-name>depositservlet</servlet-name>
    <servlet-class>bank.depositservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>depositservlet</servlet-name>
    <url-pattern>/depositservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayservlet</display-name>
    <servlet-name>displayservlet</servlet-name>
    <servlet-class>bank.displayservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayservlet</servlet-name>
    <url-pattern>/displayservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifyservlet</display-name>
    <servlet-name>modifyservlet</servlet-name>
    <servlet-class>bank.modifyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyservlet</servlet-name>
    <url-pattern>/modifyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>withdrawlservlet</display-name>
    <servlet-name>withdrawlservlet</servlet-name>
    <servlet-class>bank.withdrawlservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>withdrawlservlet</servlet-name>
    <url-pattern>/withdrawlservlet</url-pattern>
  </servlet-mapping>
</web-app>